<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}Control Platform</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <style>
            body { padding-top: 30px; }
            body { padding-bottom: 50px; }
        </style>
    </head>
    <body {% block params %}{% endblock %}>
        <header>
            {% include './include/navtop.html' %}
        </header>
        <section class="container">
            <div class="page-header">
                {% block header %}{% endblock %}
            </div>

            {% block content %}{% endblock %}
        </section>
        <footer>
            {% include './include/navfooter.html' %}
        </footer>
        <script src="/socket.io/socket.io.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </body>
</html>
