<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <ul class="nav navbar-nav">
            <li>
                <a class="navbar-link" href="https://github.com/40thoughts/WEB-ControlPlatform/wiki"><span class="glyphicon glyphicon-book"></span> Documentation</a>
            </li>
            <li>
                <a class="navbar-link" href="https://github.com/40thoughts/WEB-ControlPlatform/issues"><span class="glyphicon glyphicon-warning-sign"></span> Bugs</a>
            </li>
            <li>
                <a class="navbar-link" href="https://github.com/40thoughts/WEB-ControlPlatform"><span class="glyphicon glyphicon-wrench"></span> Source</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="navbar-text"><row>by <a href="https://github.com/40thoughts"><strong>40thoughts</strong></a></row></li>
        </ul>
    </div>
</div>
