<h3>Audio</h3>
<div class="btn-group btn-group-justified" role="group" aria-label="Audio Buttons">
  <a type="button" class="btn btn-success"><span class="glyphicon glyphicon-volume-down"></span> Down</a>
  <a type="button" class="btn btn-warning"><span class="glyphicon glyphicon-volume-up"></span> Up</a>
  <a type="button" class="btn btn-danger"><span class="glyphicon glyphicon-volume-off"></span> Mute</a>
</div>
<div class="btn-group btn-group-justified" role="group" aria-label="Audio Buttons">
  <a type="button" class="btn btn-default"><span class="glyphicon glyphicon-fast-backward"></span></a>
  <a type="button" class="btn btn-default"><span class="glyphicon glyphicon-stop"></a>
  <a type="button" class="btn btn-default"><span class="glyphicon glyphicon-play"></span><span class="glyphicon glyphicon-pause"></span></a>
  <a type="button" class="btn btn-default"><span class="glyphicon glyphicon-fast-forward"></span></a>
</div>
